.about-us{
  text-align: center;
  max-width: 600px;
  padding-top: 100px;
p{
  font-size: 13px;
}
}

//  text-align: center;
//  max-width: 600px;
//  margin:auto;
//  padding-top: 100px;
//  h3{
//    color: white;
//  }
//  p{
//    color: white;
//    font-size: 13px;
//
//  }
//}